<div class="row">
<div class="col-md-2" >

<h1 style="border-right: solid 1px #eee;">
  <%= link_to @profile.first_name, profile_path(@profile) %>
<br/>
  <%= link_to @profile.second_name, profile_path(@profile) %>
</h1>


</div>

<div class="col-md-10">

  

 <br/><br/><br/> 

 <ul class="nav nav-pills">
    
    
      <li><%= link_to 'All', profile_path(@profile) %></li>
      <!-- links -->
      <% @tags.take(10).each do |tag| %>
      <li><%= link_to tag, tag_path(:id => @profile.id, :tag => tag) %></li>
      <% end %>

     <li ><a href="#bio" data-toggle="tab">About</a></li>
    
  </ul>
  <hr/>

</div>

</div>