<div class="row">

<br/><br/>
<h1  class="pull-center">
  <%= link_to @profile.first_name, vanity_profile_path(@profile.username) %> 
  <%= link_to @profile.second_name, vanity_profile_path(@profile.username) %>
</h1>

</div>

<div class="col-md-12 container ">

  

 <br/><br/>

 <ul class="nav nav-pills pull-center">
    
    
      <!-- links -->
      <% @categories.each do |cat| %>
      <li class="menu"><%= link_to cat.name, vanity_category_path( :category_id => cat.id, :user_id => @profile.username) %></li>
      <% end %>

     <li ><a href="#bio" data-toggle="tab">About</a></li>
    
  </ul>

<hr/>
</div>


</div>


