<div class="row">
<div class="col-md-2" >

<h1 style="border-right: solid 1px #eee;">
  <%= link_to @profile.first_name, profile_url(@profile) %>
<br/>
  <%= link_to @profile.second_name, profile_url(@profile) %>
</h1>


</div>

<div class="col-md-10">

  

 <br/><br/><br/> 

 <ul class="nav nav-pills">
    
    
      <!-- links -->
      <% @categories.each do |cat| %>
      <li><%= link_to cat.name, "http://#{@profile.domain}#{user_category_path(:id => @profile.id, :category_id => cat.id)}" %></li>
      <% end %>

     <li ><a href="#bio" data-toggle="tab">About</a></li>
    
  </ul>


</div>

</div>

  <hr/>