<div class="row">
<div class="col-md-2" >

<h1 style="border-right: solid 1px #eee;">
  <%= link_to @profile.first_name, '/' %>
<br/>
  <%= link_to @profile.second_name, '/' %>
</h1>


</div>

<div class="col-md-10">

  

 <br/><br/><br/> 

 <ul class="nav nav-pills">
    
    
      <!-- links -->
      <% @categories.each do |cat| %>
      <li class="menu"><%= link_to cat.name, "#{user_category_path( :category_id => cat.id)}" %></li>
      <% end %>

     <li ><a href="#bio" data-toggle="tab">About</a></li>
    
  </ul>


</div>

</div>

<hr/>

