<div class="pull-center" >
<h1 ><%= image_tag('ffollio-black.png', width: 40) %> FFOLLIO<br/>
<small>Create a Portfolio</small>
</h1>
</div>
<hr/>

  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">


    <% @projects.each do |project| %>
      <div class=" pull-left col3 box" %>
      <% if project.video == nil || project.video == '' %> 
     <%= link_to image_tag(project.image.url()), vanity_project_path(user_id: project.user.profile.slug, id: project.id) %>
     <% else %>
     <%= link_to cl_image_tag("#{project.title}.jpg", :resource_type=>"video"), vanity_project_path(user_id: project.user.profile.slug, id: project.id) %>
     <% end %>
      <h3 class="hidden"><%= link_to project.title, vanity_project_path(user_id: project.user.profile.slug, id: project.id) %></h3>
      </div>
     <% end %>

</div>


<br>

