
<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>About:</strong>

  <%=simple_format h auto_link(@item.about, :html => { :target => '_blank' }) %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> 