/* Sandstone
 * Bootswatch
 *= require_self
 *= require sandstone/loader
 *= require sandstone/bootswatch
*= require 'masonry/basic'
*= require 'masonry/centered'
*= require 'masonry/fluid'
*= require 'masonry/gutters'
*= require 'masonry/infinitescroll'
*= require 'masonry/right-to-left'
*= require 'masonry/transitions'
*/



ul li {
  list-style: none;
  margin-left: 0px;
}

ul {
  padding: 0;
}

.col3 h3 a {
  color: white !important;
}

.box {
  background-color: white !important;
}

.menu {
  display: inline-block !important;
  margin-right: 10px;
  font-size: 14px;
}

.pull-center, .text-center {
	margin: 0 auto !important;
  text-align: center !important;
   float: none !important;
   display: block !important;
}

.navbar-white {
  text-align: center !important;
  background-color: #fff;
  margin: 0 auto !important;
  width:25%;  
} 

.navbar-white ul li a {
    color: black !important;
}

.nav-top {
text-align: center;
  margin: 0 auto;
}

.nav-top li {
  display: inline-block !important;
  text-align: center !important;
  float:left !important;
}

.white {
  color: white !important;
}


h1 a, h2 a, h3 a, a {
	color:black !important;
}

.navbar a {
  color: white !important;
}

.dropdown li a {
  color: black !important;
}



.active a {
  text-decoration: underline;
}

#masonry-container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }






#masonry-container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.lab {
  background: grey;
  color: white;
  padding: 2px 5px;
  margin: 2px;
}


.box h2 {
  font-size: 24px !important;
}
.box {
  background: white;
 border-radius: 0px;
 /*border: 1px solid #fff;*/
}

.box:hover {
  box-shadow: 10px 10px 5px #eee;
  /*border: 1px solid #ddd;*/
}
