/* Sandstone
 * Bootswatch
 *= require_self
 *= require sandstone/loader
 *= require sandstone/bootswatch
*/

.pull-center {
	margin: 0 auto;
	width: 0%;
}

h1 a, h2 a, h3 a, a {
	color:black !important;
}